*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  background-color: coral;
}

/* .btn{
  width: 100px;
  padding: 0.5rem 1rem ;
  border-radius: 0.625rem;
  cursor: pointer;
  color:white;
  font-weight: bolder;
  background-color:skyblue;
} */